
<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Fill 1</title>
    <defs>
        <rect id="path-1" x="0" y="0" width="400" height="266"></rect>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Reviews" transform="translate(-275.000000, -584.000000)">
            <path d="M275.857679,602.526095 C272.286242,615.858557 280.194117,629.57079 293.526769,633.142303 C306.859421,636.713817 320.568503,628.805771 324.142321,615.472833 C327.713758,602.140372 319.805882,588.428139 306.47323,584.856625 C304.389891,584.298576 302.2856,584.021903 300.223214,584.00095 C289.09283,583.889638 278.871376,591.277017 275.857679,602.526095 Z M297.022611,601.263565 L310.117882,609.001845 L297.022611,616.740126 L297.022611,601.265194 L297.022611,601.263565 Z" id="Fill-1" fill="#FFFFFF"></path>
        </g>
    </g>
</svg>