<svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="32px" height="32px" viewBox="0 0 32 32" version="1.1">
    <title></title>
    <desc></desc>
    <defs/>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="icon-23-star" sketch:type="MSArtboardGroup" fill="#001C72">
            <polygon id="star" sketch:type="MSShapeGroup" points="16 22 7 28 11 18 2 12 12 12 16 2 20 12 30 12 21 18 25 28 "/>
        </g>
    </g>
</svg>