<div class="featured-header">
  <div class="featured-wrapper">
    {% if section.settings.towelimage != blank %}
      <a class="asset-cta" href="#">
        <img class="full-img" src="{{ section.settings.towelimage | img_url: 'master' }}" alt="Banner Image">
      </a>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h2 class="subheading">{{ section.settings.subheading }}</h2>
    {% endif %}
    {% if section.settings.desc != blank %}
      <div class="featured-des">{{ section.settings.desc }}</div>
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Featured Section1",
    "class": "featured-section1",
    "tag":"section",
    "settings": [
      {
        "type": "image_picker",
        "id": "towelimage",
        "label": "Banner Image"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Ordinary Bath Towels Don’t Stay Clean...But What Can Be Done?"
      },
      {
        "type": "html",
        "id": "desc",
        "label": "Decription"
      }
    ]
  }
{% endschema %}