/* NORMAL RESPONSIVE DESIGN */


@media screen and (max-width: 480px) {

html .ai_ml_prod_varitations_cnt h2,html .ai_mlb_main_product_details_cnt h1 {
    color: #021c72 !important;
}

.ai_mlb_main_product_details_cnt h1 {
  margin-top: 10px;
}

html .ai_ml_prod_single_var_cnt {
    margin-bottom: 15px;
}  

html .bundle .thumbnails-wrapper {
    position: relative;
    top: 10px;
    text-align: center;
    margin: 0;
}
/* html .bundle .thumbnails-wrapper.thumbnails-wrapper {
  position: absolute;
    bottom: 45%;
    padding: 10px 15px;
    width: 500px;
    transform: translate(-60%, 50%) rotate(90deg);
    left: 9rem;
    padding: 0;
}  */
  
html .ai_ml_show_in_mobile
{
  display:flex;
}

.ai_ml_addon_product_mob_cnt {
    padding: 0px 10px;
}

.ai_ml_addon_product_details {
    padding: 0;
    max-width: 100%;
}  

.bundle .product-single__media-group {
    margin-bottom: 0px;
}  

  html .ai_ml_addon_product_inner.ai_ml_show_in_mobile {
    display: flex;
  }

.ai_ml_show_in_desktop
{
  display:none;
}

.ai_ml_prod_multi_var_cnt {
    display: block;
}  

ai_ml_prod_single_var_cnt {
    margin-bottom: 15px;
}  

.ai_ml_addon_product_details p:last-child {
    display: none;
}  
  
#ProductSection-wbm-product-details .product-single__media-group {
    margin-bottom: -20px;
}
  
  
html .physical-therapist .physicalpopup
  {
    margin-bottom:15px;
  }

.py-footer-links nav {
    margin: 20px 0px 15px 0px;
}
  
html .py-footer-links ul li {
    padding: 0px 25px;
    display:block;
  }
  
.ai_ml_fp_badges_cnt img {
    max-width: 65px;
    display: block;
}

html .physicalpopuplogoblock
  {
    display:none;
  }

html .physicalpopuplogoblock,html .physicalpopupblock {
    flex-basis: 100%;
}
  

section#shopify-section-physical-footer {
    margin-bottom: 28%;
}  
  
section .ai_ml_section_cnt h1, .product-single__title,html .his-content-with-title h1, .sb-content-with-title h1,html .ai_ml_wbm_before_after_cnt h1 {
    font-size: 24px!important;
    line-height: 1.3em!important;
    letter-spacing: .6px!important;
    color: #000!important;
    text-transform: none!important;
    font-weight: 700!important;
    margin-top:15px;
}

section#shopify-section-wbm-special-benefits .ai_ml_inner_cnt {
    display: block;
}

.pd-meta-testimony .columns:first-child {
    text-align: center;
    margin-bottom: 20px;
}

.ai_ml_align_center_cols .ai_ml_inner_cnt {
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: center;
}

.ai_ml_section video {
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
}

html #shopify-section-wbm-buy-more-save-more .ai_ml_inner_cnt {
    display: block;
    color: #FFF;
    align-items: center;
    text-align: center;
}

html #shopify-section-wbm-buy-more-save-more .ai_ml_inner_cnt h1
  {
     color: #FFF;   
  }
  
#shopify-section-wbm-here-it-is .ai_ml_align_center_cols .ai_ml_inner_cnt,#shopify-section-wbm-heal-yourself .ai_ml_align_center_cols .ai_ml_inner_cnt,#shopify-section-wbm-your-hands-deserve-rest .ai_ml_align_center_cols .ai_ml_inner_cnt,section#shopify-section-wbm-bonus .ai_ml_align_center_cols .ai_ml_inner_cnt {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
} 

.hy-content-with-title br
{
  display:none;
}

.hy-content-pie-cnt canvas
  {
    max-width:50px;
    max-height:50px;
  }
  
.hy-content-pie-cnt .count-number {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    top: 13px;
    text-align: center;
    right: 0;
    left: 10px;
    color: #A3CBB7;
    position: absolute;
}

section#shopify-section-common-logo-slider .ai_ml_inner_cnt
  {
    padding-top 0px !important;
  }

section#shopify-section-common-logo-slider h1 {
    font-size: 20px !important;
    top: 20px;
}  

html .ai_ml_inner_cnt {
    padding: 15px 15px !important;
}  

#shopify-section-wbm-your-hands-deserve-rest .ai_ml_inner_cnt
  {
    border-radius:0px;
  }

html section#shopify-section-wbm-pricing-tables h1.pt-featured-title {
    font-size: 20px !important;
    line-height: 1.3em !important;
    letter-spacing: .6px;
    color: #71bba0 !important;
    text-transform: none;
    font-weight: 700;
}

.pt-content-with-pricing {
    margin-bottom: 25px;
}  
  
}

@media screen and (min-width: 640px)
{

}

@media screen and (max-width: 640px)
{
  
}

@media screen and (max-width: 720px)
{

}

@media screen and (max-width: 768px) {
  .vertical-slider.mobile.mobile {
    display: block;
  }

  .slider-galeria-thumbs .slick-prev.slick-arrow {
    top: -20px;
    transform: translateX(-50%);
    left: 50%;
  }

  .slider-galeria-thumbs .slick-next.slick-arrow {
    right: auto;
    top: auto;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    bottom: -24px;
  }

  .slider-galeria-thumbs .slick-next.slick-arrow:before {
    color: #021c72;
    content: "^";
    font-size: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 32 32' id='Слой_1' version='1.1' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cpath d='M16.714,11.297c-0.389-0.389-1.039-0.389-1.429,0l-8.999,8.976 c-0.394,0.394-0.394,1.033,0,1.426c0.394,0.394,1.034,0.394,1.428,0L16,13.436l8.285,8.264c0.395,0.394,1.034,0.394,1.429,0 c0.394-0.394,0.394-1.033,0-1.426L16.714,11.297z' fill='%23121313' id='Expand_Less'/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E");  }

  .slider-galeria-thumbs .slick-prev.slick-arrow::before {
    content: "^";
    color: #021c72;
    font-size: 40px;
  }

  .ai_ml_addon_product_details.ai_ml_addon_product_details h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .grid__item.product-single__media-group.hide-mobile {
    display: none;
  }

  figure.ai_ml_secure_payment_method_dec {
    margin-bottom: 5px;
  }

  .ai_mlb_product_review_inner.ai_mlb_product_review_inner {
    margin-top: 20px;
  }

  .ai_mlb_product_review_cnt.ai_ml_show_in_mobile .ai_mlb_content p {
    color: #001C72;
  }

  .security-data-text.security-data-text p {
    font-size: 10px;
  }

  .ai_ml_pd_bundle_items_cnt button.btn.product-form__cart-submit {
    font-size: 16px;
  }

  .ai_ml_secure_payment_method_dec.ai_ml_secure_payment_method_dec img {
    max-width: 90%;
  }

  .ai_ml_prod_single_var_cnt.ai_ml_prod_single_var_cnt {
    width: 100%;
  }

  .ai_ml_addon_product_inner.ai_ml_show_in_mobile {
    padding: .6rem;
  }

  .ai_ml_addon_product_details.ai_ml_addon_product_details p:first-child {
    font-size: 12px;
  }

  .ai_ml_addon_product_pricing.ai_ml_addon_product_pricing label:last-child {
    flex-direction: row;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}

@media only screen and (max-width: 748px) {
}

@media screen and (max-width : 320px) {



}
@media screen and (min-width : 320px) and (max-width : 480px) {


}

/* TARGET RESPONSIVE DESIGN TILL IPAD */

@media screen and (max-width: 768px)
{
	
}

/* ALL IPHONES TILL 8 PLUS LANDSCAPE VIEW */

@media screen and (min-width : 568px) and (max-width : 736px) {


}

@media screen and (min-width: 768px) {

}
	

/* ----------- IPHONE LANDSCAPE ----------- */

@media screen and (min-width: 485px) and (max-width: 765px) {

}


/* IPHONE X Support (LANDSCAPE) */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
		
	
}

/* IPAD LANDSCAPE MODE */

@media screen and (min-device-width : 1024px) and (max-device-width : 1200px)  { 

}


/* IPAD PORTRAIT MODE */

@media screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	

}

/* FROM IPHONES TO IPAD */

@media screen and (min-device-width : 320px) and (max-device-width : 1024px)  { 



}

@media screen and (max-device-width : 1200px)  { 



}