<div class="physical-therapist">
  {% section 'physical-header' %}
  {% section 'physical-section1' %}
  {% section 'physical-section2' %}
  {% section 'physical-section3' %}
  {% section 'physical-section4' %}
  {% section 'physical-section5' %}
  {% section 'physical-video' %}
  {% section 'physical-testimonial' %}
  {% section 'physical-section6' %}
  {% section 'physical-section7' %}
  {% section 'physical-footer' %}  
</div>