<div class="page-width featured-page-width">
  <div class="featured-row">
    <div class="featured-leftcontent">
      {% section 'featured-header' %}
      {% section 'featured-section1' %}
      {% section 'featured-section2' %}
      {% section 'featured-section3' %}
      {% section 'featured-section4' %}
      {% section 'featured-section5' %}
      {% section 'featured-section6' %}
      {% section 'featured-section7' %}
      {% section 'featured-section8' %}
    </div>
    <div class="featured-rightcolumn">
      {% section 'featuredright-header' %}
    </div>
  </div>
</div>
